.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	padding-block: 5rem;
}

.header {
	color: var(--button-background);
	margin-bottom: 2rem;
	text-align: center;
}

.header span {
	font-weight: 500;
}

.cards {
	max-width: 1280px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

@media (min-width: 960px) {
	.cards {
		grid-template-columns: 1fr 1fr;
	}
	.header {
		font-size: 2rem;
	}
}
